/* body {
    padding: 100px 20px;
    background: rgba(123, 123, 123, 0.08)
} */
.col-center {
  float: none !important;
  margin: 0 auto;
}

#login-form {
  margin-top: 15%;
}

form {
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 0px 6px 1px rgba(2, 2, 2, 0.12);
}

form input,
button {
  border-radius: 0 !important;
}

.caja {
  padding: 20px;
  background: #ffffff;
  /* box-shadow: 0px 0px 4px 0px rgba(2, 2, 2, 0.1); */
  box-shadow: 0px 0px 6px 1px rgba(2, 2, 2, 0.12);
}
.imagen {
  padding: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 6px 1px rgba(2, 2, 2, 0.12);
}

.input-group {
  display: block !important;
}

input {
  margin-bottom: 20px !important;
}

.alerta {
  margin-bottom: 30px;
  padding: 20px 55px 20px 90px;
  position: relative;
  border-radius: 5px;
  display: none;
}
.alerta .alerta_icon {
  width: 60px;
  height: 60px;
  font-size: 30px;
  line-height: 60px;
  color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 10px;
  top: 10px;
  text-align: center;
  border-radius: 5px;
}
.alerta a.close {
  position: absolute;
  right: 15px;
  top: 20px;
  font-size: 20px;
  line-height: 20px;
}
.alerta a.close i {
  margin: 0 !important;
  color: rgba(0, 0, 0, 0.6);
}
.alerta a:hover.close i {
  color: rgba(0, 0, 0, 0.8);
}

.alerta_warning {
  background: #ffe38b;
  color: #9b812e;
}
.alerta_warning .alerta_icon {
  background: #fbda72;
}
.alerta_warning a,
.alerta_warning a:hover {
  color: #645012;
}

.alerta_error {
  background: #fb5455;
  color: #fff;
}
.alerta_error .alerta_icon {
  background: #f24143;
}
.alerta_error a,
.alerta_error a:hover {
  color: #9f2e2e;
}

.alerta_info {
  background: #3097db;
  color: #fff;
}
.alerta_info .alerta_icon {
  background: #1c81c4;
}
.alerta_info a,
.alerta_info a:hover {
  color: #b1e0ff;
}

.alerta_success {
  background: #a5de5c;
  color: #fff;
}
.alerta_success .alerta_icon {
  background: #8fc944;
}
.alerta_success a,
.alerta_success a:hover {
  color: #5d9514;
  display: none;
}

/* NAVBAR */
.nav_bar {
  background-color: #000;
  color: #00f622;
}

#inicio {
  padding: 13px;
  font-weight: bold;
}

.nav_bar a:hover {
  background-color: #00f622;
  color: #000;
  font-weight: bold;
}

#fondo_login {
  height: 1000px;
  background-image: url("../public/img/tienda.jpg");
  background-size: cover;
}

#fondo_nav {
  padding: 0;
}

/* REGISTRO */
#fondo_registro {
  height: 1000px;
  background-image: url("../public/img/zumba-descartar.webp");
  background-size: cover;
}

#foto {
  border: 1px solid #e2e5e9;
  width: 100%;
  padding: 5px;
}

#registro_completado {
  display: none;
}

#formulario_registro {
  margin-top: 150px;
}

#caja_form_registro {
  margin-top: 150px;
}

/* SESIONES */
.left {
  height: 100%;
  width: 250px;
  background-color: rgb(0, 0, 0);
  position: fixed;
  padding: 0;
  padding-top: 70px;
  color: #fff;
}

.img__usuario {
  width: 100%;
  padding: 40px 40px 10px 40px;
}

.right {
  margin-left: 250px;
  padding-top: 70px;
}

.cabecera {
  padding: 30px;
}

.titulo {
  display: inline-block;
  /* margin-top: 0 !important; */
}

/* .fecha {
  padding: 10px 20px;
  background-color: #fafafa;
} */

#paneles {
  margin-top: 25px;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.i_red {
  background-color: rgb(255, 0, 0);
}

.i_blue {
  background-color: rgb(0, 81, 255);
}

.i_green {
  background-color: rgb(60, 255, 0);
}

.i_purple {
  background-color: rgb(215, 0, 253);
}

.icono {
  width: 30%;
  padding: 25px 15px;
  display: inline-block;
  text-align: center;
}

.icono i {
  font-size: 55px;
  color: white;
}

.valor {
  width: 70%;
  padding-top: 20px;
  float: right;
  text-align: center;
}

.valor h1 {
  margin: 0 !important;
}

/* EDITAR SOCIOS */
.acciones {
  width: 25px;
  height: 25px;
  font-size: 10px;
  padding: 5px;
}

#busqueda {
  box-shadow: none;
}

#busqueda .input-group {
  display: table !important;
}

#busqueda input {
  all: unset;
  margin-bottom: 0 !important;
}

.caja-cabecera h3 {
  display: inline-block;
}

#modal_editar {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0,0,0,0.5); */
  overflow: auto;
  margin-top: 50px;
}



#fondo_oscuro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}


#limpiarBusqueda {
  display: none;
}
