/* NAVBAR */
.navbar {
  padding: 15px;
  position: fixed;
  width: 100%;
  min-width: 320px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav_bar {
  background-color: black;
  height: 70px;
}

#nav_bar a {
  color: #00f622;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

#nav_bar a:hover {
  color: #000;
  background-color: #00f622;
  font-weight: bold;
}

.navbar-toggler {
  background-color: #00f622;
}

#navbarNav {
  padding: 5%;
  margin: 0;
}

#navbarNav ul {
  background-color: black;
}

#navbarNav li {
  margin-top: 5%;
}

/* LAYOUT HOME */
#titulo_presentacion {
  background-color: #000;
  height: 550px;
  color: #00f622;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}

#titulo_presentacion {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

#titulo_presentacion h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
  margin-top: 10%;
}

#titulo_presentacion p {
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 80px;
}

#titulo_presentacion button {
  margin-bottom: 150px;
}

#titulo_presentacion button,
#explora button,
#horario button {
  background-color: transparent;
  color: #fff;
  border: 5px solid #fff;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 25px;
  text-transform: uppercase;
  width: 250px;
}

#titulo_presentacion button:hover,
#explora button:hover,
#horario button:hover {
  background-color: #00f622;
}

/* EXPLORA */
#explora {
  background-image: url("../public/img/girl-boxer-sport.webp");
  background-attachment: fixed;
  background-size: cover;
  padding-top: 600px;
  padding-bottom: 20%;
  height: auto;
}

#explora h1 {
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  margin-top: 50px;
}

#explora p {
  color: #fff;
  font-weight: bold;
}

.box_explora {
  background-color: rgba(38, 38, 38, 0.62);
  margin: 25px;
  padding: 3% 2%;
  box-sizing: border-box;
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  color: white;
  height: 405px;
  width: 305px;
}

#explora h5 {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  margin-top: 50px;
}

/* HORARIO */
#horario {
  background-color: #000;
  height: 500px;
  padding: 200px;
  font-weight: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#horario h2,
#horario p {
  color: #fff;
  font-weight: bold;
}

#horario button {
  margin: auto;
}

/* TIENDA */
#img_tienda {
  background-image: url("../public/img/tienda.jpg");
  background-size: cover;
  height: 500px;
}

#tienda {
  background-color: #00f622;
}

#tienda h2  {
  font-weight: bold;
  font-size: 40px;
  margin-top: 30px;
  color: #ffff;
}

#tienda p {
  font-weight: bold;
  color: #ffff;
  text-align: justify;
  margin: 5px;
}

#caracteristicas {
  margin: 40px 0 80px 0;
  color: #52c9f2;
  font-weight: bold;
}

#caracteristicas h2 {
  font-size: 40px;
}

.box_caracteristicas {
  color: #52c9f2;
  text-align: center;
}

.box_caracteristicas h2 {
  margin: 40px 0 20px;
}

